In [1]:
import os
import sys
sys.path.append('../../')

import pandas as pd
import xgboost as xgb
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

import core.config as conf

## 01. Train Data Load

In [2]:
path = conf.data_path

In [3]:
train_df = pd.read_csv(f'{path}'+'stk_hld_train.csv')

In [4]:
train_df.head()

,act_id,iem_cd,byn_dt,hold_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A006360,20180726,11
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005930,20180131,80
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005070,20180517,5
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A003520,20201112,22
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A002310,20180905,324

In [5]:
cus_df = pd.read_csv(f'{path}'+'cus_info.csv')

In [6]:
cus_df.head()

,act_id,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,1,4,99,1,2,3,3,6,16
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,1,6,4,4,2,5,2,6,1
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,2,7,4,3,2,5,5,6,9
3,6d497facfa1ea5901b827335553331f8555fec02a8184f...,2,6,4,4,8,5,3,6,16
4,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,1,5,2,2,2,5,5,5,16

In [7]:
iem_df = pd.read_csv(f'{path}'+'iem_info_20210902.csv')

In [8]:
iem_df.head()

    iem_cd iem_krl_nm  btp_cfc_cd  mkt_pr_tal_scl_tp_cd  stk_dit_cd
0  A000020       동화약품           8                     2          99
1  A000080      하이트진로          14                     2           1
2  A000180     성창기업지주           5                     3          99
3  A000227    유유제약2우B           8                    99          99
4  A000325     노루홀딩스우           2                    99          99

In [9]:
iem_df = iem_df.drop(['iem_krl_nm'], axis = 1)

In [10]:
train_df = pd.merge(left = train_df, right = cus_df, how='left', on='act_id')

In [11]:
train_df = pd.merge(train_df, iem_df, how='left', on='iem_cd')

In [12]:
train_df["hist_d"] = train_df["hold_d"]*0.6

## 02. Test Data Load

In [34]:
test_df = pd.read_csv(f'{path}'+'stk_hld_test.csv')

In [35]:
test_df = pd.merge(left = test_df, right = cus_df, how='left', on='act_id')

In [36]:
test_df = pd.merge(test_df, iem_df, how='left', on='iem_cd')

In [37]:
test_df.head()

,act_id,iem_cd,byn_dt,hist_d,submit_id,hold_d,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A032640,20200522,153,IDX00001,0,1,9,3,2,2,9,5,5,8,4,1,1
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A160600,20190823,335,IDX00002,0,1,9,3,2,2,9,5,5,8,10,3,99
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A234340,20200611,139,IDX00003,0,1,9,3,2,2,9,5,5,8,13,2,99
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A131760,20200120,236,IDX00004,0,1,9,3,2,2,9,5,5,8,13,3,99
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A293490,20201217,9,IDX00005,0,1,9,3,2,2,9,5,5,8,13,1,2

## Data Preprocessing

In [17]:
train_df = train_df.drop(['act_id', 'iem_cd'], axis = 1)

In [38]:
test_df = test_df.drop(['act_id', 'iem_cd', 'hold_d', 'submit_id'], axis = 1)

In [39]:
test_df = test_df[['byn_dt', 'sex_dit_cd', 'cus_age_stn_cd', 'ivs_icn_cd',
       'cus_aet_stn_cd', 'mrz_pdt_tp_sgm_cd', 'lsg_sgm_cd', 'tco_cus_grd_cd',
       'tot_ivs_te_sgm_cd', 'mrz_btp_dit_cd', 'btp_cfc_cd',
       'mkt_pr_tal_scl_tp_cd', 'stk_dit_cd', 'hist_d']]

## 03. XGBoost

In [20]:
col = train_df.columns

In [21]:
col = col.drop('hold_d')

In [22]:
TARGET = 'hold_d'

In [23]:
X_train, X_valid, y_train, y_valid = train_test_split(train_df[col], train_df[TARGET], test_size = 0.2)

In [24]:
model = xgb.XGBRegressor(n_estimators=1000, max_depth=8, eta=0.1, subsample=0.7, colsample_bytree=0.8)

In [25]:
model.fit(X_train, y_train, verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, eta=0.1, gamma=0,
             gpu_id=-1, importance_type='gain', interaction_constraints='',
             learning_rate=0.100000001, max_delta_step=0, max_depth=8,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=20, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=0.7,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [26]:
pred = model.predict(X_valid)

In [27]:
y_valid.values

array([ 5,  7,  1, ..., 15,  9, 34])

In [28]:
np.round(pred)

array([ 5.,  7.,  1., ..., 15.,  9., 34.], dtype=float32)

In [30]:
np.sqrt(mean_squared_error(y_valid.values, np.round(pred)))

0.40208379051122906

## 04. Submission

In [40]:
submission = pd.read_csv(f"{path}"+"sample_submission.csv")

In [42]:
y_pred = model.predict(test_df)

In [43]:
y_pred

array([ 253.65376  ,  555.8629   ,  229.0863   , ..., 1123.4048   ,
         17.877684 ,    6.9197307], dtype=float32)

In [44]:
result = []
for i in y_pred:
    result.append(i)

In [45]:
result

[253.65376,
 555.8629,
 229.0863,
 386.91357,
 14.817522,
 151.34453,
 164.43169,
 1122.807,
 134.1382,
 845.0236,
 201.53052,
 1112.921,
 770.53424,
 9.837848,
 17.681734,
 5.140926,
 186.22305,
 116.843056,
 455.9402,
 12.731324,
 9.783273,
 1121.4222,
 699.7515,
 27.041754,
 3.095445,
 112.19086,
 112.090355,
 390.5968,
 768.7829,
 455.6685,
 114.96512,
 115.07804,
 1136.0293,
 214.02675,
 19.61697,
 127.800255,
 214.266,
 1141.8577,
 214.3108,
 1125.1442,
 1125.0527,
 716.32886,
 1126.3306,
 1132.0247,
 1125.2418,
 1016.9629,
 1125.2715,
 1126.1339,
 1122.9463,
 1124.9131,
 1129.8514,
 1125.8846,
 230.47643,
 1062.3998,
 1093.63,
 239.77728,
 217.13658,
 1022.1285,
 1020.95154,
 1109.2684,
 123.42528,
 1094.75,
 1091.3258,
 1108.2999,
 944.2114,
 1091.1276,
 1094.7117,
 122.41561,
 200.55888,
 1094.7117,
 1105.9716,
 1108.8269,
 1091.3657,
 1120.8569,
 19.827137,
 249.57256,
 42.871735,
 39.894653,
 244.37044,
 17.80071,
 1.9954343,
 1127.8661,
 1149.5524,
 1128.2268,
 11.790196,
 298.3254,
 234.52791,
 37.900196,
 16.74169,
 7.9023867,
 1.9818935,
 359.40985,
 39.968597,
 19.801044,
 1.9818935,
 14.875645,
 12.786063,
 2.9781654,
 36.848244,
 172.18713,
 7.864892,
 12.799345,
 62.3183,
 768.48773,
 32.8127,
 154.97893,
 1.9834602,
 2.9626577,
 157.76575,
 96.7524,
 468.49524,
 167.01617,
 117.828224,
 7.88494,
 387.32132,
 24.85614,
 19.808502,
 2.9679067,
 6.850582,
 159.94733,
 1.9965435,
 117.86401,
 395.82513,
 81.8894,
 763.792,
 1118.6742,
 394.73257,
 468.35934,
 1027.7015,
 2.0049736,
 1111.8452,
 46.798492,
 259.23837,
 1107.1691,
 157.72696,
 11.770453,
 178.21683,
 1111.8313,
 1107.1108,
 263.67136,
 176.97165,
 16.680021,
 162.96584,
 11.759983,
 224.83408,
 41.70305,
 141.03107,
 62.874237,
 137.84029,
 61.763195,
 12.80531,
 1161.6299,
 1135.7286,
 1144.4379,
 1143.855,
 1129.2584,
 652.22003,
 1117.8787,
 155.09561,
 7.931295,
 59.560467,
 236.99312,
 1.9345808,
 4.915936,
 1117.8357,
 12.822812,
 26.945536,
 19.802015,
 4.951037,
 1.9831116,
 6.8813863,
 6.8913035,
 6.8913035,
 335.5821,
 1126.5453,
 1103.4329,
 2.8744042,
 16.712906,
 49.39069,
 9.80744,
 9.871709,
 27.882835,
 9.871709,
 202.96848,
 1124.8076,
 700.0075,
 11.867686,
 19.848911,
 32.701427,
 41.8338,
 11.832484,
 14.910045,
 27.752228,
 24.616608,
 51.78623,
 29.85012,
 102.09675,
 356.94955,
 1126.8883,
 99.819565,
 129.66142,
 12.969762,
 16.903511,
 59.51453,
 139.67818,
 167.45067,
 141.71576,
 1116.9236,
 99.84813,
 77.400734,
 141.6958,
 192.38545,
 51.617012,
 67.42701,
 131.69386,
 124.63224,
 91.7237,
 139.58427,
 97.78071,
 7.987125,
 991.5011,
 92.69785,
 1.929901,
 31.972101,
 59.705303,
 4.9535728,
 4.9618154,
 1010.84985,
 178.71878,
 394.65656,
 47.06485,
 1100.8047,
 296.24332,
 95.438995,
 133.20796,
 700.02313,
 35.00352,
 148.1385,
 133.22144,
 125.36683,
 708.46246,
 753.39453,
 240.8057,
 97.967445,
 208.85588,
 102.95704,
 166.41307,
 95.17533,
 74.53412,
 59.511734,
 203.79915,
 59.529278,
 31.936817,
 11.815824,
 4.968052,
 151.15718,
 19.970562,
 14.943422,
 1096.4595,
 653.58203,
 240.9394,
 9.982278,
 1120.2919,
 203.59694,
 12.983398,
 1118.4553,
 91.88276,
 19.954481,
 117.062645,
 128.10925,
 1104.2122,
 1120.5668,
 1117.2703,
 1115.4185,
 1106.4841,
 1116.8219,
 1118.997,
 940.6074,
 1107.2244,
 1119.1821,
 1122.244,
 1114.9279,
 16.624308,
 26.755854,
 2.9453917,
 14.838545,
 24.785597,
 391.0917,
 9.927084,
 52.365658,
 11.829665,
 39.739223,
 32.759357,
 2.009092,
 17.788492,
 31.849134,
 24.72402,
 6.855285,
 941.60376,
 57.31405,
 6.820378,
 7.8268423,
 1.8918201,
 61.459606,
 36.924587,
 108.03962,
 51.562134,
 44.73776,
 61.467854,
 36.924587,
 1.9702957,
 125.2145,
 59.53292,
 224.34325,
 44.750843,
 455.40753,
 209.71428,
 209.63872,
 226.5508,
 340.21185,
 32.88824,
 221.27136,
 206.31085,
 9.956285,
 7.935366,
 26.867426,
 69.38968,
 349.04166,
 206.311,
 51.572422,
 173.0976,
 313.332,
 7.961663,
 183.14778,
 59.540325,
 42.89549,
 122.02391,
 162.59216,
 241.84059,
 183.16914,
 192.01045,
 170.01437,
 226.5257,
 119.975426,
 56.514683,
 57.558468,
 29.949062,
 224.43625,
 167.12772,
 394.54004,
 44.818478,
 34.89316,
 177.26974,
 34.957657,
 87.12942,
 179.88902,
 36.943157,
 26.840725,
 36.924835,
 52.55771,
 222.46352,
 224.4176,
 56.515327,
 251.56142,
 162.86995,
 189.56758,
 242.19214,
 153.23991,
 162.59216,
 206.31085,
 141.996,
 47.792175,
 142.09923,
 340.21185,
 108.07779,
 478.12073,
 141.996,
 241.76704,
 184.50455,
 206.60661,
 117.968864,
 169.99664,
 169.99664,
 108.11891,
 224.34325,
 16.740414,
 226.5508,
 83.176125,
 44.76157,
 153.39795,
 183.20041,
 206.311,
 144.98337,
 141.996,
 36.924587,
 224.38087,
 221.31773,
 44.76396,
 42.943283,
 120.0004,
 344.81607,
 224.34325,
 132.11154,
 44.851593,
 397.29306,
 19.831322,
 57.541042,
 9.938437,
 360.4702,
 128.16309,
 130.08386,
 642.5436,
 211.61775,
 939.7076,
 1114.4987,
 270.7978,
 121.587364,
 937.76135,
 21.981558,
 1100.7672,
 12.764712,
 564.4725,
 118.00746,
 132.13828,
 282.70932,
 1100.7238,
 16.829086,
 1114.5608,
 129.9021,
 122.59157,
 39.988865,
 268.34015,
 114.994095,
 2.8953094,
 21.981558,
 128.25754,
 122.60548,
 1099.9756,
 112.99717,
 165.1196,
 794.94653,
 166.8429,
 378.94098,
 169.96858,
 166.8429,
 796.8711,
 1128.7286,
 1151.1095,
 1130.5013,
 1146.6404,
 136.29202,
 1129.1526,
 1024.261,
 7.1147227,
 230.74821,
 72.60132,
 11.783688,
 57.77203,
 118.46731,
 110.56207,
 12.973088,
 744.30206,
 478.81924,
 9.993901,
 1.8744899,
 7.9759073,
 241.49533,
 187.0962,
 211.74026,
 6.900231,
 254.68185,
 118.30025,
 256.89075,
 21.818478,
 127.40602,
 207.30319,
 95.10915,
 12.842265,
 132.8676,
 110.07898,
 214.41011,
 117.272575,
 214.50761,
 274.3725,
 158.3549,
 210.9725,
 282.60043,
 155.21304,
 54.501087,
 1117.2292,
 128.00903,
 257.07788,
 27.735664,
 217.33884,
 272.60858,
 1130.7651,
 317.129,
 2.009401,
 6.9654107,
 6.9654107,
 6.9703264,
 132.82564,
 27.92597,
 4.9664245,
 14.959288,
 1126.6149,
 1125.4049,
 74.745384,
 1128.6267,
 41.89625,
 26.750154,
 127.968315,
 189.50764,
 24.728214,
 107.926994,
 59.58299,
 42.911922,
 44.605324,
 16.869663,
 122.69338,
 61.506287,
 47.65678,
 56.56427,
 64.45384,
 22.82219,
 37.08773,
 79.54464,
 14.838759,
 17.824053,
 6.988099,
 74.51137,
 76.48952,
 99.92678,
 76.42253,
 14.895059,
 41.90201,
 9.878569,
 92.897415,
 89.82949,
 1118.9198,
 132.84009,
 11.773285,
 541.4626,
 67.771835,
 17.88807,
 24.854448,
 187.98471,
 54.714806,
 2.0034246,
 751.0368,
 14.860449,
 44.827923,
 4.9583383,
 27.836031,
 9.934247,
 51.74044,
 246.16974,
 81.923805,
 1.9885792,
 87.896935,
 76.69583,
 36.994305,
 4.9679203,
 11.814209,
 36.82102,
 1114.0273,
 69.06521,
 362.84583,
 265.00876,
 286.11777,
 61.964935,
 297.0091,
 362.98752,
 173.34732,
 363.88837,
 6.977127,
 121.70212,
 1.9333266,
 1.982712,
 5.030315,
 7.0209455,
 1.8852028,
 87.97811,
 62.63268,
 1121.7607,
 52.747456,
 1122.531,
 1118.5057,
 41.874886,
 41.942085,
 1079.6808,
 29.868086,
 71.57732,
 35.087902,
 64.62671,
 764.97125,
 38.145805,
 167.21074,
 9.827593,
 31.80643,
 16.765322,
 1113.7399,
 14.812347,
 7.975576,
 2.0064957,
 1110.0162,
 2.0910585,
 2.0064957,
 21.833965,
 14.819674,
 1112.503,
 1112.6617,
 1115.7543,
 1113.3622,
 1112.6108,
 142.97942,
 21.965317,
 19.865488,
 258.69217,
 861.9636,
 444.35342,
 861.029,
 1118.8402,
 444.35342,
 9.911549,
 137.13837,
 130.32391,
 7.023101,
 612.29095,
 701.4847,
 1.7920319,
 9.877453,
 64.39319,
 6.8279724,
 42.795628,
 31.940678,
 7.661288,
 338.0275,
 27.7553,
 12.73977,
 11.735517,
 1.7882355,
 59.391624,
 312.40817,
 17.822065,
 703.1493,
 180.01187,
 47.663788,
 1123.9988,
 9.924935,
 362.48282,
 47.663788,
 305.12265,
 102.081924,
 2.9726238,
 46.73747,
 12.994099,
 11.895351,
 260.12473,
 33.026558,
 7.9340205,
 14.938657,
 2.9373462,
 710.1337,
 763.26715,
 29.905132,
 3.003415,
 4.9061832,
 7.959107,
 27.832232,
 16.886057,
 103.01492,
 2.916423,
 137.96127,
 139.89203,
 712.4303,
 713.15857,
 1114.0411,
 139.9216,
 7.9364204,
 2.967477,
 11.839981,
 244.0276,
 1103.4015,
 636.3969,
 52.47991,
 150.49448,
 112.121086,
 38.052254,
 16.849312,
 37.992664,
 1125.9734,
 11.674564,
 214.02513,
 11.842274,
 292.99976,
 292.74597,
 126.02729,
 173.52367,
 176.71686,
 292.74597,
 160.75702,
 22.045013,
 41.858593,
 198.96233,
 1116.9022,
 1117.7712,
 672.5549,
 629.62866,
 719.44366,
 937.7255,
 1117.2194,
 525.32684,
 662.9683,
 629.27954,
 1010.2897,
 516.6995,
 926.8246,
 1114.6101,
 1099.5006,
 1118.0756,
 939.7502,
 1115.0813,
 629.6653,
 784.74603,
 384.9454,
 784.74603,
 1117.0045,
 1102.8988,
 42.98683,
 142.53868,
 1102.0111,
 167.41786,
 16.651419,
 4.738488,
 409.07864,
 90.169945,
 236.67429,
 949.5902,
 11.632862,
 22.902699,
 4.9055395,
 236.67429,
 223.88356,
 223.88356,
 487.27368,
 1114.8505,
 62.584976,
 1096.4271,
 46.106842,
 375.9979,
 123.59123,
 6.5305023,
 145.78163,
 299.9794,
 57.30401,
 114.67539,
 91.89358,
 4.83801,
 2.0167942,
 2.0167942,
 121.83631,
 236.35115,
 273.43115,
 1105.654,
 1118.0536,
 1109.9028,
 331.4333,
 322.75613,
 1118.0391,
 1118.1069,
 1118.1802,
 1118.2391,
 507.23047,
 505.27478,
 1110.605,
 1119.4246,
 1118.3817,
 377.0519,
 1118.7245,
 859.0397,
 27.830238,
 14.96313,
 19.847094,
 7.042246,
 7.97535,
 79.75218,
 370.89285,
 317.11182,
 12.944467,
 27.808657,
 41.850056,
 119.96565,
 52.561687,
 49.626244,
 26.881155,
 4.9909735,
 259.7351,
 104.946014,
 39.819614,
 29.845768,
 121.831024,
 137.7492,
 16.855366,
 79.292496,
 180.03218,
 377.25488,
 9.911407,
 12.90276,
 16.79106,
 135.04153,
 1032.678,
 748.4947,
 373.9982,
 210.77373,
 473.6406,
 209.04895,
 188.17162,
 9.887175,
 1.8654952,
 9.880041,
 56.378437,
 36.84669,
 37.962772,
 14.881405,
 265.0296,
 6.857449,
 9.731514,
 44.547752,
 41.559395,
 141.77147,
 2.7857296,
 2.7857296,
 146.96443,
 42.585724,
 2.7918913,
 9.753473,
 1014.33057,
 9.880137,
 16.938843,
 21.917574,
 1.9701337,
 102.91551,
 7.9864492,
 2.9191737,
 2.9171002,
 1.9556941,
 14.911199,
 67.68971,
 51.718693,
 7.0283723,
 138.00648,
 14.989013,
 100.316505,
 279.8926,
 509.6318,
 44.83782,
 14.795087,
 9.821313,
 16.795197,
 27.771091,
 17.715204,
 24.813177,
 98.64873,
 493.68002,
 1088.7,
 350.03958,
 497.16983,
 1125.4543,
 112.07714,
 2.0661378,
 864.18427,
 6.859912,
 102.73723,
 46.60787,
 659.4016,
 21.804255,
 1119.3455,
 1119.482,
 1125.4744,
 1127.841,
 1127.957,
 241.14226,
 27.731085,
 413.2685,
 551.62054,
 663.75055,
 479.84674,
 26.890295,
 2.8735094,
 22.87791,
 1.965268,
 34.95961,
 52.689953,
 29.957071,
 44.74568,
 19.880703,
 16.795784,
 56.69572,
 85.07562,
 38.040356,
 47.79324,
 39.947525,
 16.761477,
 82.02442,
 1.9257563,
 41.71934,
 16.39766,
 49.172523,
 16.199205,
 19.532034,
 9.513929,
 2.6351428,
 32.50815,
 46.227043,
 11.437316,
 36.55014,
 12.627504,
 14.7006645,
 14.635418,
 11.728398,
 1.7945901,
 36.76857,
 32.61761,
 1113.4885,
 1113.9994,
 1114.915,
 1114.4978,
 1113.7268,
 403.29135,
 1113.5232,
 1114.3105,
 140.10954,
 1120.415,
 377.809,
 165.05638,
 159.7669,
 94.95742,
 155.44072,
 92.119316,
 207.5249,
 247.47588,
 147.27426,
 222.30159,
 247.47588,
 47.95874,
 223.85115,
 90.00959,
 102.929924,
 2.9128122,
 29.773226,
 31.696154,
 1099.5134,
 31.795118,
 31.788408,
 1070.1501,
 42.716515,
 6.9550667,
 54.270603,
 42.716515,
 6.93708,
 11.786019,
 83.057076,
 16.839628,
 158.50484,
 224.50441,
 31.931501,
 46.837524,
 19.82124,
 12.960578,
 264.17593,
 21.961548,
 90.20937,
 41.938225,
 41.886642,
 29.879179,
 120.010185,
 127.07795,
 29.876007,
 2.919624,
 93.13027,
 216.54141,
 164.99081,
 211.42833,
 44.918217,
 38.01182,
 29.826235,
 359.62128,
 192.43756,
 9.805701,
 100.129295,
 51.549767,
 217.46635,
 19.83819,
 31.736805,
 31.746729,
 34.752792,
 19.834558,
 34.825108,
 317.66006,
 ...]

In [46]:
submission["hold_d"] = np.round(result)

In [47]:
submission

      submit_id  hold_d
0      IDX00001   254.0
1      IDX00002   556.0
2      IDX00003   229.0
3      IDX00004   387.0
4      IDX00005    15.0
...         ...     ...
70591  IDX70592    38.0
70592  IDX70593   171.0
70593  IDX70594  1123.0
70594  IDX70595    18.0
70595  IDX70596     7.0

[70596 rows x 2 columns]

In [48]:
submission.to_csv("xgboost_baseline.csv", index = False)