In [1]:
import os
import sys
sys.path.append('../../')

import pandas as pd
import xgboost as xgb
import numpy as np
import swifter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, KFold
from sklearn.model_selection import GridSearchCV
from datetime import datetime, timedelta
from tqdm import tqdm, tqdm_notebook
import core.config as conf

In [2]:
tqdm_notebook().pandas()

/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

0it [00:00, ?it/s]

## 01. Train Data Load

In [3]:
## load preprocessing data (past_d)
train_df = pd.read_csv('train_past_d.csv')
test_df = pd.read_csv('test_past_d.csv')

In [4]:
path = conf.data_path

In [15]:
train_df = pd.read_csv(f'{path}'+'stk_hld_train.csv')

In [6]:
train_df.head()

,act_id,iem_cd,byn_dt,hold_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A006360,20180726,11
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005930,20180131,80
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005070,20180517,5
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A003520,20201112,22
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A002310,20180905,324

In [7]:
cus_df = pd.read_csv(f'{path}'+'cus_info.csv')

In [8]:
cus_df.head()

,act_id,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,1,4,99,1,2,3,3,6,16
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,1,6,4,4,2,5,2,6,1
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,2,7,4,3,2,5,5,6,9
3,6d497facfa1ea5901b827335553331f8555fec02a8184f...,2,6,4,4,8,5,3,6,16
4,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,1,5,2,2,2,5,5,5,16

In [9]:
iem_df = pd.read_csv(f'{path}'+'iem_info_20210902.csv')

In [10]:
iem_df.head()

    iem_cd iem_krl_nm  btp_cfc_cd  mkt_pr_tal_scl_tp_cd  stk_dit_cd
0  A000020       동화약품           8                     2          99
1  A000080      하이트진로          14                     2           1
2  A000180     성창기업지주           5                     3          99
3  A000227    유유제약2우B           8                    99          99
4  A000325     노루홀딩스우           2                    99          99

In [11]:
L_encoder = LabelEncoder()
L_encoder.fit(iem_df["iem_krl_nm"])

LabelEncoder()

In [12]:
iem_df['iem_krl_nm'] = L_encoder.transform(iem_df["iem_krl_nm"])

In [13]:
train_df = pd.merge(left = train_df, right = cus_df, how='left', on='act_id')

In [14]:
train_df = pd.merge(train_df, iem_df, how='left', on='iem_cd')

## 02. Test Data Load

In [15]:
test_df = pd.read_csv(f'{path}'+'stk_hld_test.csv')

In [16]:
test_df = pd.merge(left = test_df, right = cus_df, how='left', on='act_id')

In [17]:
test_df = pd.merge(test_df, iem_df, how='left', on='iem_cd')

In [18]:
test_df.head()

,act_id,iem_cd,byn_dt,hist_d,submit_id,hold_d,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd,iem_krl_nm,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A032640,20200522,153,IDX00001,0,1,9,3,2,2,9,5,5,8,418,4,1,1
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A160600,20190823,335,IDX00002,0,1,9,3,2,2,9,5,5,8,2230,10,3,99
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A234340,20200611,139,IDX00003,0,1,9,3,2,2,9,5,5,8,1515,13,2,99
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A131760,20200120,236,IDX00004,0,1,9,3,2,2,9,5,5,8,2681,13,3,99
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A293490,20201217,9,IDX00005,0,1,9,3,2,2,9,5,5,8,2450,13,1,2

## 03. Stock Hist

In [5]:
stk_df = pd.read_csv(f'{path}'+'stk_bnc_hist.csv')

In [6]:
stk_df.head()

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr
0,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200820,A008770,40.0,2828000.0,5000.0
1,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A008770,20.0,1390000.0,5000.0
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20160104,A005940,311.0,2982490.0,5000.0
3,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200814,A005930,40.0,2320000.0,100.0
4,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,20200623,A005930,20.0,1028000.0,100.0

In [11]:
# past_d

In [7]:
def working_day(s_dt, e_dt) : # 공휴일 제외
    s_dt = str(s_dt).split('.')[0]
    e_dt = str(e_dt).split('.')[0]
    s_dt = s_dt[:4] + '-' + s_dt[4:6] + '-' + s_dt[6:]
    e_dt = e_dt[:4] + '-' + e_dt[4:6] + '-' + e_dt[6:]
    return np.busday_count(s_dt, e_dt, weekmask='1111100')

In [8]:
def stk_hist(act_id, iem_cd) :
    diff_date = []
    s_dt = 0
    tmp_df = stk_df[stk_df['act_id']==act_id][stk_df['iem_cd']==iem_cd][['bse_dt', 'bnc_qty']]
    if len(tmp_df) == 0 : return None

    sell = tmp_df[tmp_df['bnc_qty']==0.0]#매도
    trade = tmp_df[tmp_df['bnc_qty']!=0.0]#매매
    
    if len(sell) == 0 : # 판 기록이 없을 때
        t_dt = trade['bse_dt'].values[0]
        diff_date.append(working_day(t_dt, 20201231))
    elif len(trade) == 0 : # 산 기록이 없을 때
        s_dt = sell['bse_dt'].values[0]
        diff_date.append(working_day(20160101, s_dt))
    else : 
        for _, row in sell.iterrows() :
            s_dt = row['bse_dt']
            t_dt = trade[trade['bse_dt'] <= s_dt]['bse_dt'].values[0]
            trade = trade[trade['bse_dt'] > t_dt]
            diff_date.append(working_day(t_dt, s_dt))
        trade = trade[trade['bse_dt']>s_dt]
        if len(trade) != 0 :
            t_dt = trade['bse_dt'].values[0]
            diff_date.append(working_day(t_dt, 20201231))    
    return np.mean(diff_date)

In [10]:
stk_df[stk_df['act_id']=='feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b77954945ff183255c9'][stk_df['iem_cd']=='A066130']

/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,act_id,bse_dt,iem_cd,bnc_qty,tot_aet_amt,stk_par_pr
2321872,feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b...,20190401,A066130,96.0,1022400.0,500.0
2321873,feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b...,20190403,A066130,0.0,0.0,500.0
2321874,feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b...,20191105,A066130,1863.0,13320450.0,500.0
2321875,feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b...,20191106,A066130,1958.0,14234660.0,500.0
2321876,feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b...,20191107,A066130,2107.0,14938630.0,500.0
2321877,feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b...,20191122,A066130,1863.0,12537990.0,500.0
2321878,feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b...,20200103,A066130,2142.0,16257780.0,500.0
2321879,feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b...,20200226,A066130,1142.0,8382280.0,500.0
2321880,feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b...,20200228,A066130,600.0,3870000.0,500.0
2321881,feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b...,20200302,A066130,0.0,0.0,500.0

In [24]:
diff_date = stk_hist('feaf418a74ee66caa6b550ea26e1eb12d231a3ceb69d4b77954945ff183255c9', 'A066130')

/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [25]:
diff_date

43.0

## Data Preprocessing

#### Past_d

In [26]:
stk_df = stk_df.sort_values(by=['bse_dt'])

In [31]:
train_df['past_d'] = train_df.swifter.progress_bar().apply(lambda x : stk_hist(x['act_id'], x['iem_cd']), axis = 1)

/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

Dask Apply:   0%|          | 0/40 [00:00<?, ?it/s]

/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [40]:
test_df['past_d'] = test_df.apply(lambda x : stk_hist(x['act_id'], x['iem_cd']), axis = 1)

/home/nyongja/anaconda3/envs/nh2021/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

#### user avg past_d : 사용자 별 past_d
#### iem avg past_d : 종목 별 평균 past_d
#### ivs  icn avg past_d : 투자성향 별 평균 past_d
#### mkt_pr_tal_scl_tp_cd : 시가총액 규모 별 평균 past_d
-> 제대로 하려면 stk_hist 파일 돌려서 다시 구해야 함

In [8]:
user_avg_pastd = train_df['past_d'].groupby(train_df['act_id']).mean()

In [9]:
iem_avg_pastd = train_df['past_d'].groupby(train_df['iem_cd']).mean()

In [10]:
ivs_icn_avg_pastd = train_df['past_d'].groupby(train_df['ivs_icn_cd']).mean()

In [11]:
user_avg_pastd_test = test_df['past_d'].groupby(test_df['act_id']).mean()

In [12]:
iem_avg_pastd_test = test_df['past_d'].groupby(test_df['iem_cd']).mean()

In [13]:
mkt_pr_avg_pastd = train_df['past_d'].groupby(train_df['mkt_pr_tal_scl_tp_cd']).mean()

In [14]:
train_df['user_avg_past_d'] = train_df.apply(lambda x : user_avg_pastd[x['act_id']], axis = 1)

In [15]:
train_df['iem_avg_past_d'] = train_df.apply(lambda x : iem_avg_pastd[x['iem_cd']], axis = 1)

In [16]:
train_df['ivs_icn_past_d'] = train_df.apply(lambda x : ivs_icn_avg_pastd[x['ivs_icn_cd']], axis = 1)

In [17]:
train_df['mkt_pr_past_d'] = train_df.apply(lambda x : mkt_pr_avg_pastd[x['mkt_pr_tal_scl_tp_cd']], axis = 1)

In [18]:
test_df['user_avg_past_d'] = test_df.apply(lambda x : user_avg_pastd[x['act_id']] if x['act_id'] in user_avg_pastd else user_avg_pastd_test[x['act_id']], axis = 1)

In [19]:
test_df['iem_avg_past_d'] = test_df.apply(lambda x : iem_avg_pastd[x['iem_cd']] if x['iem_cd'] in iem_avg_pastd else iem_avg_pastd_test[x['iem_cd']], axis = 1)

In [20]:
test_df['ivs_icn_past_d'] = test_df.apply(lambda x : ivs_icn_avg_pastd[x['ivs_icn_cd']], axis = 1)

In [21]:
test_df['mkt_pr_past_d'] = test_df.apply(lambda x : mkt_pr_avg_pastd[x['mkt_pr_tal_scl_tp_cd']], axis = 1)

In [22]:
train_df.head()

,act_id,iem_cd,byn_dt,hold_d,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,...,iem_krl_nm,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd,past_d,hist_d,user_avg_past_d,iem_avg_past_d,ivs_icn_past_d,mkt_pr_past_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A006360,20180726,11,1,9,3,2,2,9,...,101,1,1,1,195.0,6.6,41.074468,66.392544,39.918768,58.505146
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005930,20180131,80,1,9,3,2,2,9,...,1361,9,1,1,86.0,48.0,41.074468,101.057144,39.918768,58.505146
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005070,20180517,5,1,9,3,2,2,9,...,2530,12,2,99,6.0,3.0,41.074468,44.857150,39.918768,40.248910
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A003520,20201112,22,1,9,3,2,2,9,...,1969,8,2,1,22.0,13.2,41.074468,44.580025,39.918768,40.248910
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A002310,20180905,324,1,9,3,2,2,9,...,1696,10,3,99,347.0,194.4,41.074468,81.323587,39.918768,36.059944

In [23]:
test_df.head()

,act_id,iem_cd,byn_dt,hist_d,submit_id,hold_d,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,...,mrz_btp_dit_cd,iem_krl_nm,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd,past_d,user_avg_past_d,iem_avg_past_d,ivs_icn_past_d,mkt_pr_past_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A032640,20200522,153,IDX00001,0,1,9,3,2,...,8,418,4,1,1,159.0,41.074468,87.701799,39.918768,58.505146
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A160600,20190823,335,IDX00002,0,1,9,3,2,...,8,2230,10,3,99,354.0,41.074468,33.203922,39.918768,36.059944
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A234340,20200611,139,IDX00003,0,1,9,3,2,...,8,1515,13,2,99,145.0,41.074468,31.919831,39.918768,40.248910
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A131760,20200120,236,IDX00004,0,1,9,3,2,...,8,2681,13,3,99,248.0,41.074468,37.868490,39.918768,36.059944
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A293490,20201217,9,IDX00005,0,1,9,3,2,...,8,2450,13,1,2,10.0,41.074468,15.034166,39.918768,58.505146

#### hist d :

In [24]:
train_df["hist_d"] = train_df["hold_d"]*0.6

In [25]:
train_df.head()

,act_id,iem_cd,byn_dt,hold_d,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,...,iem_krl_nm,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd,past_d,hist_d,user_avg_past_d,iem_avg_past_d,ivs_icn_past_d,mkt_pr_past_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A006360,20180726,11,1,9,3,2,2,9,...,101,1,1,1,195.0,6.6,41.074468,66.392544,39.918768,58.505146
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005930,20180131,80,1,9,3,2,2,9,...,1361,9,1,1,86.0,48.0,41.074468,101.057144,39.918768,58.505146
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005070,20180517,5,1,9,3,2,2,9,...,2530,12,2,99,6.0,3.0,41.074468,44.857150,39.918768,40.248910
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A003520,20201112,22,1,9,3,2,2,9,...,1969,8,2,1,22.0,13.2,41.074468,44.580025,39.918768,40.248910
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A002310,20180905,324,1,9,3,2,2,9,...,1696,10,3,99,347.0,194.4,41.074468,81.323587,39.918768,36.059944

In [91]:
test_df.head()

,byn_dt,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd,iem_krl_nm,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd,past_d
0,20200522,1,9,3,2,2,9,5,5,8,418,4,1,1,159.0
1,20190823,1,9,3,2,2,9,5,5,8,2230,10,3,99,354.0
2,20200611,1,9,3,2,2,9,5,5,8,1515,13,2,99,145.0
3,20200120,1,9,3,2,2,9,5,5,8,2681,13,3,99,248.0
4,20201217,1,9,3,2,2,9,5,5,8,2450,13,1,2,10.0

In [26]:
train_df = train_df.drop(['act_id', 'iem_cd'], axis = 1)

In [39]:
used_features = train_df.columns.drop('hold_d')

In [41]:
test_df = test_df[used_features]

In [43]:
train_df.columns

Index(['byn_dt', 'hold_d', 'sex_dit_cd', 'cus_age_stn_cd', 'ivs_icn_cd',
       'cus_aet_stn_cd', 'mrz_pdt_tp_sgm_cd', 'lsg_sgm_cd', 'tco_cus_grd_cd',
       'tot_ivs_te_sgm_cd', 'mrz_btp_dit_cd', 'iem_krl_nm', 'btp_cfc_cd',
       'mkt_pr_tal_scl_tp_cd', 'stk_dit_cd', 'past_d', 'hist_d',
       'user_avg_past_d', 'iem_avg_past_d', 'ivs_icn_past_d', 'mkt_pr_past_d'],
      dtype='object')

In [44]:
test_df.columns

Index(['byn_dt', 'sex_dit_cd', 'cus_age_stn_cd', 'ivs_icn_cd',
       'cus_aet_stn_cd', 'mrz_pdt_tp_sgm_cd', 'lsg_sgm_cd', 'tco_cus_grd_cd',
       'tot_ivs_te_sgm_cd', 'mrz_btp_dit_cd', 'iem_krl_nm', 'btp_cfc_cd',
       'mkt_pr_tal_scl_tp_cd', 'stk_dit_cd', 'past_d', 'hist_d',
       'user_avg_past_d', 'iem_avg_past_d', 'ivs_icn_past_d', 'mkt_pr_past_d'],
      dtype='object')

## 03. XGBoost

In [45]:
col = train_df.columns

In [46]:
col = col.drop('hold_d')

In [47]:
TARGET = 'hold_d'

In [48]:
X_train, X_valid, y_train, y_valid = train_test_split(train_df[col], train_df[TARGET], test_size = 0.2)

In [49]:
model = xgb.XGBRegressor(n_estimators=1000, max_depth=8, eta=0.1, subsample=0.7, colsample_bytree=0.8)

#### GridSearch

In [50]:
parameters = {'nthread':[4], #when use hyperthread, xgboost may become slower
              'objective':['reg:linear'],
              'learning_rate': [.03, 0.05, .07], #so called `eta` value
              'max_depth': [5, 6, 7],
              'min_child_weight': [4],
              'silent': [1],
              'subsample': [0.7],
              'colsample_bytree': [0.7],
              'n_estimators': [500]}

xgb_grid = GridSearchCV(model,
                        parameters,
                        cv = 2,
                        n_jobs = 5,
                        verbose=True)

In [51]:
model.fit(X_train, y_train, verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, eta=0.1, gamma=0,
             gpu_id=-1, importance_type='gain', interaction_constraints='',
             learning_rate=0.100000001, max_delta_step=0, max_depth=8,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=20, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=0.7,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [52]:
xgb_grid.fit(X_train, y_train, verbose=False)

Fitting 2 folds for each of 9 candidates, totalling 18 fits
[23:44:51] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:44:51] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

GridSearchCV(cv=2,
             estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                    colsample_bylevel=1, colsample_bynode=1,
                                    colsample_bytree=0.8, eta=0.1, gamma=0,
                                    gpu_id=-1, importance_type='gain',
                                    interaction_constraints='',
                                    learning_rate=0.100000001, max_delta_step=0,
                                    max_depth=8, min_child_weight=1,
                                    missing=nan, monotone_constraints='()',
                                    n_estimators=1000, n_jobs=20,
                                    n...te=0,
                                    reg_alpha=0, reg_lambda=1,
                                    scale_pos_weight=1, subsample=0.7,
                                    tree_method='exact', validate_parameters=1,
                                    verbosity=None),
             n_jobs=5,
             param_grid={'colsample_bytree': [0.7],
                         'learning_rate': [0.03, 0.05, 0.07],
                         'max_depth': [5, 6, 7], 'min_child_weight': [4],
                         'n_estimators': [500], 'nthread': [4],
                         'objective': ['reg:linear'], 'silent': [1],
                         'subsample': [0.7]},
             verbose=True)

In [55]:
xgb_grid.score(X_train, y_train)

0.9998959913087113

In [56]:
model.score(X_train, y_train)

0.9999957187419031

### cross-validation

In [61]:
pred = xgb_grid.predict(X_valid)

In [62]:
y_valid.values

array([ 1, 91,  4, ..., 26,  4,  1])

In [63]:
np.round(pred)

array([ 1., 91.,  4., ..., 26.,  4.,  1.], dtype=float32)

In [64]:
np.sqrt(mean_squared_error(y_valid.values, np.round(pred)))

0.6677083220361537

## 04. Submission

In [65]:
submission = pd.read_csv(f"{path}"+"sample_submission.csv")

In [73]:
y_pred = xgb_grid.predict(test_df)

In [74]:
y_pred

array([258.90402  , 556.7301   , 234.32297  , ..., 998.8766   ,
        17.605328 ,   7.0298643], dtype=float32)

In [75]:
result = []
for i in y_pred:
    result.append(i)

In [76]:
result

[258.90402,
 556.7301,
 234.32297,
 400.7803,
 14.970516,
 157.13614,
 170.79018,
 1014.53766,
 137.45128,
 856.8676,
 198.52077,
 1131.862,
 758.13776,
 9.651745,
 17.691559,
 4.645199,
 187.3394,
 117.21717,
 469.54114,
 12.7116165,
 9.554924,
 1075.1692,
 698.5852,
 26.688393,
 2.6831667,
 111.444695,
 111.38186,
 401.1647,
 752.2616,
 469.94012,
 114.56313,
 114.703514,
 1071.4806,
 215.3925,
 18.881445,
 130.52156,
 217.23701,
 1142.3716,
 216.9856,
 1086.7635,
 1093.2073,
 715.081,
 1093.1704,
 1099.0165,
 1090.0541,
 1030.0465,
 1095.5459,
 1093.0978,
 1115.3888,
 1076.7556,
 1112.9202,
 1095.5459,
 236.97285,
 1005.8,
 1005.0005,
 237.3441,
 219.36198,
 1004.7132,
 1011.67914,
 1004.6673,
 123.41608,
 1006.2222,
 948.643,
 1005.8394,
 933.53674,
 961.1796,
 1001.3205,
 119.67105,
 202.98283,
 953.5025,
 971.63965,
 973.75073,
 1004.8174,
 1089.192,
 19.74588,
 250.93095,
 42.242386,
 39.657436,
 246.30107,
 17.744295,
 1.8267797,
 1138.9155,
 1123.986,
 1040.0583,
 11.791877,
 300.8715,
 237.74747,
 37.960754,
 16.621824,
 7.9308124,
 1.8836229,
 368.77374,
 39.980568,
 19.748981,
 2.2527494,
 14.852938,
 12.653562,
 2.9442031,
 37.055153,
 170.72772,
 8.090535,
 12.95549,
 62.404793,
 751.2382,
 33.078346,
 155.69951,
 1.7936565,
 2.8425665,
 159.0254,
 95.89014,
 479.84244,
 163.22662,
 118.029396,
 7.9873447,
 394.68033,
 25.191025,
 19.748981,
 3.0346408,
 6.9006777,
 161.11359,
 1.9901341,
 117.06787,
 404.52554,
 82.31299,
 756.38806,
 985.3728,
 407.15164,
 476.67966,
 972.77026,
 1.3573945,
 983.26117,
 45.386925,
 266.3331,
 969.1042,
 157.65347,
 11.376184,
 175.7856,
 970.30896,
 968.9382,
 269.10083,
 177.51437,
 16.085304,
 161.7291,
 11.714235,
 227.705,
 43.321518,
 142.65945,
 61.03789,
 136.37628,
 61.841515,
 12.994712,
 1140.3333,
 1152.3466,
 1148.413,
 1139.222,
 1161.4463,
 644.6843,
 963.42944,
 154.18037,
 7.597158,
 58.74564,
 238.78255,
 1.7916852,
 4.503536,
 1022.5267,
 12.047938,
 26.158258,
 18.946743,
 4.199971,
 1.7193104,
 6.624912,
 6.6124954,
 6.8081026,
 343.063,
 1086.2291,
 1010.11414,
 2.9661486,
 16.4739,
 48.031796,
 10.906175,
 12.2000475,
 28.9873,
 12.13996,
 204.7033,
 974.76624,
 705.01227,
 11.389462,
 20.27093,
 33.056187,
 41.847134,
 11.453039,
 15.221233,
 27.757063,
 24.536587,
 45.102737,
 27.014961,
 101.45619,
 364.50592,
 1034.3988,
 99.21021,
 130.70616,
 13.094698,
 19.510893,
 56.289013,
 136.63173,
 169.5323,
 143.52673,
 1051.8098,
 98.89249,
 80.61847,
 143.44243,
 194.45978,
 51.54495,
 67.97512,
 132.19539,
 125.15203,
 88.71866,
 140.68878,
 96.96984,
 8.581009,
 973.9991,
 90.24686,
 2.007384,
 32.07371,
 60.002968,
 4.8882313,
 4.8882313,
 1006.87537,
 179.78986,
 407.19345,
 47.608696,
 1020.9658,
 300.55756,
 93.71632,
 133.59447,
 700.28253,
 35.37075,
 149.81676,
 133.22778,
 125.94013,
 711.85547,
 731.05316,
 246.47707,
 97.65282,
 209.6167,
 101.00613,
 169.22556,
 93.46341,
 74.37362,
 59.548042,
 203.55928,
 59.367382,
 32.078396,
 11.023134,
 4.2923355,
 153.67908,
 20.099403,
 14.498844,
 1014.80505,
 642.5048,
 244.29721,
 9.548775,
 1120.1595,
 204.77327,
 12.350772,
 977.0722,
 90.45037,
 19.443695,
 116.4816,
 127.94177,
 1001.0877,
 1135.8198,
 1090.4286,
 1013.36444,
 1046.3062,
 1038.768,
 1139.1655,
 924.61505,
 1011.9629,
 1102.2885,
 1016.6102,
 1099.8768,
 16.75864,
 27.565722,
 3.1960478,
 15.162827,
 25.18573,
 399.37192,
 10.086404,
 52.18104,
 12.8324375,
 40.099995,
 33.267426,
 2.5363462,
 17.772303,
 32.44384,
 25.050055,
 7.2246165,
 955.24335,
 58.308064,
 7.61371,
 8.278745,
 1.9345208,
 60.825863,
 37.041843,
 106.8744,
 50.610443,
 44.09523,
 60.72117,
 37.041843,
 2.0104284,
 125.29623,
 59.72579,
 223.91183,
 44.058758,
 460.74472,
 208.72849,
 208.07555,
 228.05798,
 343.82153,
 33.019882,
 220.95769,
 207.01833,
 9.688677,
 7.839051,
 26.744677,
 69.61334,
 355.0105,
 205.93556,
 50.57654,
 174.56487,
 317.1597,
 7.825855,
 183.15065,
 59.304665,
 42.330246,
 122.15237,
 163.78261,
 243.97153,
 183.59831,
 192.15373,
 171.19547,
 226.24557,
 119.98991,
 55.915867,
 56.93743,
 29.981056,
 224.873,
 168.26407,
 401.77505,
 44.284344,
 35.064304,
 177.9137,
 34.909286,
 86.98563,
 180.54703,
 37.00537,
 26.905142,
 37.2152,
 51.45421,
 222.21967,
 224.87325,
 55.731834,
 253.7289,
 163.24239,
 191.82782,
 244.09038,
 154.16594,
 163.46,
 207.01833,
 142.71457,
 47.342087,
 142.71457,
 344.9267,
 106.86506,
 493.22113,
 142.71457,
 244.0233,
 185.58563,
 205.95409,
 118.09681,
 171.49237,
 171.15913,
 106.68882,
 223.81104,
 16.413347,
 226.71419,
 82.65246,
 44.09523,
 154.48854,
 183.13213,
 206.36539,
 145.94194,
 142.71457,
 37.041843,
 224.35861,
 220.36206,
 44.058758,
 42.162952,
 120.295975,
 350.3407,
 223.81104,
 132.57599,
 44.312256,
 405.55283,
 19.678617,
 56.766308,
 9.891268,
 370.24908,
 128.13034,
 130.72183,
 643.9533,
 213.69675,
 937.51483,
 947.45447,
 277.26257,
 122.60693,
 937.4599,
 21.67736,
 952.36176,
 12.373134,
 564.31885,
 118.623764,
 132.21884,
 289.08295,
 1013.96985,
 16.773191,
 967.1461,
 130.45784,
 123.59541,
 39.313744,
 274.35846,
 114.480576,
 2.678401,
 21.453259,
 128.39423,
 123.38765,
 960.0333,
 111.72183,
 165.45831,
 812.97266,
 168.58502,
 388.3767,
 172.21307,
 168.57707,
 833.7103,
 1104.712,
 1125.7614,
 1117.6088,
 1130.1414,
 139.02919,
 1054.7467,
 1034.0339,
 5.8069468,
 232.28554,
 73.21055,
 12.966966,
 57.115818,
 118.543274,
 108.66013,
 12.157237,
 732.86835,
 490.1187,
 10.822276,
 1.8662188,
 7.702698,
 243.57855,
 189.01587,
 211.38954,
 7.3325505,
 256.1444,
 115.61247,
 259.73218,
 22.060099,
 128.29044,
 208.2281,
 93.95969,
 13.29224,
 133.64313,
 109.24402,
 214.9594,
 117.014366,
 215.30899,
 277.3063,
 159.78535,
 212.12405,
 284.7172,
 155.962,
 54.0277,
 1076.7682,
 127.79381,
 259.5281,
 27.777182,
 219.54797,
 274.89096,
 1075.7646,
 321.54208,
 2.147905,
 6.4462676,
 7.434042,
 6.957021,
 134.1041,
 26.326897,
 4.9245324,
 14.737758,
 1104.3717,
 1102.6886,
 73.261505,
 1090.7267,
 41.74776,
 26.751127,
 128.13545,
 190.78056,
 23.43481,
 107.9354,
 59.538532,
 42.15703,
 44.524178,
 16.660463,
 123.31036,
 61.451622,
 46.59153,
 55.660755,
 64.644356,
 23.024643,
 36.534313,
 79.662094,
 14.146298,
 17.543566,
 6.711037,
 74.26293,
 76.69147,
 99.279854,
 75.47827,
 14.579581,
 41.092113,
 9.702342,
 91.82766,
 89.06256,
 975.99146,
 133.44887,
 11.505494,
 548.5936,
 68.04148,
 17.598192,
 24.605667,
 186.82498,
 53.383442,
 2.0353382,
 719.2334,
 14.924398,
 44.91251,
 4.9847574,
 27.966717,
 9.120216,
 51.156593,
 247.03435,
 81.66057,
 1.9747142,
 85.827194,
 77.17582,
 37.271744,
 5.0038033,
 11.806045,
 36.466152,
 1008.4028,
 68.877235,
 373.46545,
 273.17584,
 297.4564,
 62.707413,
 308.03998,
 378.23068,
 176.17374,
 378.63382,
 7.308783,
 123.060234,
 1.7380937,
 2.3692322,
 5.4351835,
 7.3073826,
 2.3525608,
 88.4819,
 62.102795,
 979.2906,
 51.63069,
 962.7143,
 1011.2909,
 41.086365,
 40.960876,
 962.0572,
 29.501366,
 70.88548,
 34.067425,
 64.531075,
 753.7556,
 37.21438,
 166.8812,
 9.9763565,
 32.244587,
 16.851503,
 1075.1029,
 17.129166,
 8.157422,
 0.59879255,
 977.3751,
 2.28872,
 2.7672727,
 20.238998,
 14.107863,
 1019.00586,
 1022.04364,
 974.25397,
 963.85425,
 1047.5383,
 143.6892,
 21.732134,
 19.59165,
 262.59277,
 891.4934,
 425.50613,
 876.3807,
 1111.9437,
 425.08817,
 10.669059,
 136.98734,
 130.0075,
 7.658131,
 617.51154,
 703.1273,
 2.3383703,
 10.081029,
 64.71913,
 7.155172,
 42.734924,
 31.696579,
 8.162365,
 340.96826,
 27.783133,
 13.2876835,
 12.551681,
 2.2285633,
 60.03092,
 314.34973,
 17.33258,
 707.6614,
 179.6734,
 46.87367,
 1023.5984,
 9.427617,
 368.18042,
 46.869583,
 306.9194,
 101.275154,
 2.791754,
 47.022217,
 13.395839,
 11.717171,
 266.93756,
 32.92426,
 7.972159,
 14.944926,
 2.8700485,
 704.50745,
 724.07227,
 30.081995,
 3.074805,
 5.0392804,
 8.006723,
 28.086227,
 16.822706,
 101.39831,
 3.1967661,
 137.38266,
 138.3746,
 705.1455,
 709.3651,
 1020.1573,
 138.74187,
 9.277849,
 2.7794175,
 10.91471,
 244.64044,
 979.5896,
 643.60834,
 51.273304,
 149.01073,
 110.77954,
 38.087772,
 16.670107,
 37.88988,
 995.2062,
 11.691147,
 204.19301,
 11.860328,
 297.09662,
 296.52402,
 125.79393,
 173.39018,
 172.47362,
 298.6418,
 157.93439,
 21.999481,
 40.991512,
 199.36926,
 1013.4,
 1016.07074,
 672.79956,
 628.7311,
 729.6077,
 913.3126,
 1013.62463,
 531.0463,
 664.2554,
 628.69714,
 1016.7986,
 524.5782,
 920.8481,
 1089.4296,
 1016.4392,
 1017.1924,
 964.3544,
 1014.618,
 640.543,
 775.0462,
 390.3354,
 774.03766,
 1017.7476,
 1018.6989,
 42.67227,
 144.05331,
 1015.48236,
 170.34705,
 16.999575,
 5.44857,
 415.04306,
 89.603455,
 239.14484,
 963.8185,
 12.14381,
 23.004147,
 5.812915,
 241.3035,
 227.23422,
 224.6051,
 491.5454,
 1033.6492,
 62.16952,
 961.0999,
 45.574642,
 386.60513,
 122.9866,
 6.8733025,
 148.94432,
 302.50867,
 56.311756,
 114.19646,
 90.82227,
 4.8961673,
 1.4019483,
 2.0696924,
 122.463036,
 240.64708,
 277.1012,
 1021.59375,
 1007.42645,
 998.0894,
 339.36563,
 327.8539,
 999.7062,
 1006.48737,
 1004.6588,
 1003.6985,
 502.04825,
 500.5885,
 1006.50903,
 985.2094,
 999.70044,
 382.9311,
 1028.081,
 877.41565,
 27.868748,
 14.642035,
 20.123985,
 6.8711314,
 8.357078,
 80.14206,
 379.91336,
 322.41223,
 13.727339,
 28.439173,
 41.744217,
 120.90355,
 51.94655,
 49.466644,
 26.758799,
 4.8402996,
 263.92917,
 104.19176,
 38.734543,
 30.536676,
 123.126396,
 139.23012,
 17.001703,
 80.7431,
 180.66415,
 390.0596,
 9.515387,
 12.64276,
 16.603327,
 137.55232,
 1010.3928,
 729.467,
 396.5077,
 216.98773,
 483.00296,
 216.02296,
 193.71867,
 9.665116,
 1.9027346,
 9.535253,
 55.51573,
 34.0264,
 38.335865,
 15.063725,
 271.6278,
 7.1023765,
 9.989837,
 44.41989,
 40.90437,
 142.74915,
 3.585057,
 3.1274235,
 144.97614,
 42.10941,
 3.1274235,
 9.936261,
 1005.91077,
 9.755383,
 16.67274,
 21.708319,
 1.9126232,
 102.78353,
 7.8951087,
 2.730121,
 2.9891834,
 1.6643642,
 14.727894,
 68.573586,
 50.729954,
 7.230687,
 138.15826,
 15.205787,
 99.99535,
 273.4606,
 506.77698,
 44.490734,
 14.9813175,
 9.8767805,
 16.773434,
 28.047428,
 17.625387,
 24.889185,
 96.941,
 490.9117,
 954.4561,
 357.7735,
 494.3076,
 1022.8051,
 117.38323,
 1.4540408,
 879.8589,
 7.0614557,
 102.73051,
 45.62413,
 655.1624,
 21.882637,
 1020.6205,
 1003.04694,
 1018.61914,
 1038.8798,
 1041.222,
 245.31396,
 28.25665,
 421.67477,
 558.33484,
 662.74396,
 477.4413,
 25.5936,
 2.3719249,
 22.775747,
 1.9487842,
 34.896942,
 51.987106,
 30.075071,
 43.910976,
 19.544008,
 16.616627,
 56.253242,
 84.91542,
 37.9083,
 47.688602,
 39.913795,
 16.671598,
 82.33139,
 1.7989732,
 42.025246,
 16.925507,
 49.72441,
 16.21305,
 19.442211,
 9.638835,
 3.0012403,
 32.829433,
 46.54705,
 11.392977,
 36.62009,
 12.749236,
 14.797952,
 14.779181,
 11.626022,
 1.736103,
 36.878407,
 32.874817,
 1006.44556,
 998.6349,
 996.28754,
 1001.8873,
 971.60065,
 407.81122,
 1010.7334,
 995.9608,
 138.59706,
 998.61646,
 383.52017,
 164.55246,
 160.15974,
 93.213745,
 154.92288,
 90.32933,
 215.29994,
 257.6409,
 154.59955,
 235.4113,
 257.46136,
 46.07334,
 237.76918,
 90.05852,
 102.736824,
 3.1720638,
 30.09187,
 31.446495,
 1005.12915,
 31.446495,
 30.89119,
 1003.50616,
 43.59201,
 8.201847,
 53.423805,
 45.218166,
 7.333891,
 11.638021,
 82.46716,
 16.485498,
 159.3933,
 224.35121,
 31.857967,
 46.32921,
 20.094103,
 12.755516,
 269.4312,
 21.61451,
 89.73435,
 42.398582,
 42.42313,
 30.073055,
 120.38806,
 127.80706,
 28.958124,
 3.0812104,
 91.79603,
 216.8483,
 166.04189,
 212.57867,
 45.059307,
 37.00545,
 30.144335,
 368.19547,
 193.65155,
 10.067794,
 99.36812,
 51.523563,
 218.10124,
 19.700596,
 32.10231,
 32.298084,
 35.2807,
 19.9915,
 35.2807,
 322.5843,
 ...]

In [77]:
submission["hold_d"] = np.round(result)

In [78]:
submission

      submit_id  hold_d
0      IDX00001   259.0
1      IDX00002   557.0
2      IDX00003   234.0
3      IDX00004   401.0
4      IDX00005    15.0
...         ...     ...
70591  IDX70592    37.0
70592  IDX70593   170.0
70593  IDX70594   999.0
70594  IDX70595    18.0
70595  IDX70596     7.0

[70596 rows x 2 columns]

In [79]:
submission.to_csv("gridcv_xgboost_stk_hist_feature_(histd).csv", index = False)

[23:42:03] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:42:03] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:42:47] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:42:47] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:43:26] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:43:26] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:42:03] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:42:03] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:42:56] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:42:56] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:43:41] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:43:41] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:42:03] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:42:03] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:42:39] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:42:39] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:43:33] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:43:33] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:44:10] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:44:10] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:42:03] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:42:03] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:42:40] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:42:40] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:43:18] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:43:18] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:44:11] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:44:11] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:42:03] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:42:03] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:42:48] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:42:48] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:43:33] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:43:33] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[23:44:10] WARNING: ../src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.
[23:44:10] WARNING: ../src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.